body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


h2 {
    text-align: center;
    font-size: 100px;
    color: #333;
    display: flex;
    margin-right: 10%;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2045ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button[type="submit"]:hover {
    background-color: #8da0ff;
}


p[style='color:red;'] {
    color: red;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
